<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

            <p>
            To rank the images, look at the pair of images beneath the goal.
            Pick the one that you think is closest to the goal.
            Under that image, click on the button that reads <b>This Image is Better</b>.
            The algorithm will fetch more examples for comparison.
            </p>

            <p>
            The ranking task will automatically end after you give 20 rankings, or after you have found the target image.
            If the algorithm seems to stop providing helpful images, keep ranking until you have given 20 rankings.
            Then the task will end on its own.
            </p>

            <p>
            These instructions will be available when you do the task.
            </p>

            <script type="text/javascript">
            //console.log(psiTurk.getInstructionIndicator())
            </script>

	</div>

	<hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
