<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

        <p>
        In this activity, you will guide a computer algorithm to find a target image.
        <!--Your task is to find example images that are identical to a target image.-->
        </p>

        <p>
        The computer will show you a set of example images.
        Your will compare these examples.
        After you compare them, the computer will suggest new examples for comparison.
        </p>

        <p>
        Each new set of examples from the computer will get you closer to the target image, based on your comparisons.
        Your job is to give accurate comparison judgments so that the computer rapidly finds the right target image.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
