<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

            <p>
            In this activity, you will work with a computer algorithm to find a target image.
            </p>

            <p>
            <i>You</i> will rank images based on their closeness to a target.
            The better you rank these images, the more likely you are to find the target image.
            </p>

            <p>
            <i>The algorithm</i> will provide you new example images to rank.
            </p>

            <script type="text/javascript">
            //console.log(psiTurk.getInstructionIndicator())
            </script>

	</div>

	<hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
