<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

        <p>
        To find the target image, you must do the following.
        The algorithm will show you a row of images it has selected.
        You must drag the examples to order them from <b>best</b> to <b>worst</b>.
        </p>

        <p>
        When you're happy with the ordering, click <b>I Have Sorted the Images</b>.
        The algorithm will fetch more examples for comparison.
        </p>

        <p>
        The task will end when the algorithm has given you the target image, and you have selected it as the best one.
        <i>In some cases, after many comparisons, the algorithm may not reach the expected goal.</i>
        If the algorithm seems to "get stuck", click on the <b>"Images Aren't Getting Any Better"</b> button to end the task.
        This button appears after 10 comparisons to give the algorithm a chance to show enough examples.
        You will still get compensated for this HIT if you click this button.
        </p>

        <p>All of these instructions will be available when you complete the task</p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
