<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">
        <p>You're going to start the activity now.</p>
        <script type="text/javascript">
        </script>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin Activity <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
