<div id="container-questionnaire">
    <h1>Task Complete</h1>
    <hr>
    <p>You are finished!  Thank you for your contributions to this work.  You will be eligible for full payment once you answer the following questions.</p>
    <div class="instructions well">
        <form id="postquiz" action="debrief" method="post">

            <div class="row question">
                <div class="col-md-8">
                    I trusted the computer to make the right decision about what example to show me next.
                </div>
                <div class="col-md-4">
                    <select id="trust" name="trust">
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4</option>
                        <option value="3" SELECTED>3 - Neutral</option>
                        <option value="2">2</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    I don't understand why the computer decided to show me the examples it did.  Its choices didn't make sense.
                </div>
                <div class="col-md-4">
                    <select id="sense" name="sense">
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4</option>
                        <option value="3" SELECTED>3 - Neutral</option>
                        <option value="2">2</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    The computer's guesses improved over time.
                </div>
                <div class="col-md-4">
                    <select id="improved" name="improved">
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4</option>
                        <option value="3" SELECTED>3 - Neutral</option>
                        <option value="2">2</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    The algorithm picking examples was intelligent.
                </div>
                <div class="col-md-4">
                    <select id="intelligent" name="intelligent">
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4</option>
                        <option value="3" SELECTED>3 - Neutral</option>
                        <option value="2">2</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    The algorithm accurately perceived what my goal was.
                </div>
                <div class="col-md-4">
                    <select id="perception" name="perception">
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4</option>
                        <option value="3" SELECTED>3 - Neutral</option>
                        <option value="2">2</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    The algorithm was making random choices.
                </div>
                <div class="col-md-4">
                    <select id="random" name="random">
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4</option>
                        <option value="3" SELECTED>3 - Neutral</option>
                        <option value="2">2</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
