<div id="container-questionnaire">
    <h1>Task Complete</h1>
    <hr>
    <p>You are finished!  Thank you for your contributions to this work.  You will be eligible for full payment once you answer the following questions.</p>
    <div class="instructions well">
        <form id="postquiz" action="debrief" method="post">

            <div class="row question">
                <div class="col-md-8">
                    I trusted that the algorithm would show me better images in each round.
                </div>
                <div class="col-md-4">
                    <select id="trust" name="trust">
                        <option selected="selected" disabled="disabled">Choose option</option>
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4 - Agree</option>
                        <option value="3">3 - Neutral</option>
                        <option value="2">2 - Disagree</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    I don't understand why the algorithm chose the examples it did.
                </div>
                <div class="col-md-4">
                    <select id="sense" name="sense">
                        <option selected="selected" disabled="disabled">Choose option</option>
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4 - Agree</option>
                        <option value="3">3 - Neutral</option>
                        <option value="2">2 - Disagree</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    The algorithm got stuck.  It kept picking images that weren't what I wanted.
                </div>
                <div class="col-md-4">
                    <select id="stuck" name="stuck">
                        <option selected="selected" disabled="disabled">Choose option</option>
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4 - Agree</option>
                        <option value="3">3 - Neutral</option>
                        <option value="2">2 - Disagree</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    The last image I marked as best was very similar to the goal image.
                </div>
                <div class="col-md-4">
                    <select id="perception" name="perception">
                        <option selected="selected" disabled="disabled">Choose option</option>
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4 - Agree</option>
                        <option value="3">3 - Neutral</option>
                        <option value="2">2 - Disagree</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-8">
                    The algorithm's guesses got better over time.
                </div>
                <div class="col-md-4">
                    <select id="improved" name="improved">
                        <option selected="selected" disabled="disabled">Choose option</option>
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4 - Agree</option>
                        <option value="3">3 - Neutral</option>
                        <option value="2">2 - Disagree</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <!--
            <div class="row question">
                <div class="col-md-8">
                    The algorithm was intelligent in its choice of examples.
                </div>
                <div class="col-md-4">
                    <select id="intelligent" name="intelligent">
                        <option selected="selected" disabled="disabled">Choose option</option>
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4 - Agree</option>
                        <option value="3">3 - Neutral</option>
                        <option value="2">2 - Disagree</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>
            -->

            <!--
            <div class="row question">
                <div class="col-md-8">
                    The algorithm accurately perceived what my goal was.
                </div>
                <div class="col-md-4">
                    <select id="perception" name="perception">
                        <option selected="selected" disabled="disabled">Choose option</option>
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4 - Agree</option>
                        <option value="3">3 - Neutral</option>
                        <option value="2">2 - Disagree</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>
            -->

            <div class="row question">
                <div class="col-md-8">
                    The algorithm made random choices about what to show me.
                </div>
                <div class="col-md-4">
                    <select id="random" name="random">
                        <option selected="selected" disabled="disabled">Choose option</option>
                        <option value="5">5 - Strongly Agree</option>
                        <option value="4">4 - Agree</option>
                        <option value="3">3 - Neutral</option>
                        <option value="2">2 - Disagree</option>
                        <option value="1">1 - Strongly Disagree</option>
                    </select>
                </div>
            </div>

            <div class="row question">
                <div class="col-md-10">
                    Please share any additional feedback you have on the activity.
                    <textarea id='open_feedback' name='open_feedback' style='display: block; width: 100%;' />
                </div>
            </div>

        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
