<html>
    <head>
        <meta charset="utf-8" />
        <title>Image Discovery</title>
        <link rel='stylesheet' href='/static/css/main.css' />
    </head>
    <body>
        <div id='main_cont' class='cols'>
            <div id='instruct_col' class='instruct_mini col2 instructions well'>

                <h4>Instructions</h4>

                <p>
                In this activity, you will work with a computer algorithm to find a target image.
                </p>

                <p>
                <i>You</i> will rank images based on their closeness to a target.
                The better you rank these images, the more likely you are to find the target image.
                </p>

                <p>
                <i>The algorithm</i> will provide you new example images to rank.
                </p>

                <h6>To rank the examples:</h6>

                <p class='simplex'>
                To rank the images, you must drag them to sort them from <b>best</b> to <b>worst</b>.
                When you're happy with the ordering, click <b>I Have Sorted the Images</b>.
                The algorithm will fetch more examples for comparison.
                </p>

                <p class='bayesopt'>
                To rank the images, look at the pair of images beneath the goal.
                Pick the one that you think is closest to the goal.
                Under that image, click on the button that reads <b>This Image is Better</b>.
                The algorithm will fetch more examples for comparison.
                </p>

                <h6>To complete the HIT:</h6>
                <p>
                The ranking task will automatically end after you give 20 rankings, or after you have found the target image.
                If the algorithm seems to stop providing helpful images, keep ranking until you have given 20 rankings.
                Then the task will end on its own.
                </p>

                <h6>Contact the author</h6>

                <p>
                If you have feedback on this hit, feel free to contact the author at <a href="mailto:openairandrew@gmail.com">openairandrew@gmail.com</a>
                </p>

            </div>
            <div id='main_col' class='col2'>
                <h1 id='main_header'>Goal</h1>
                <div id='exemplar_cont'>
                    <img id='rank_exemplar_img' alt='goal' src="/static/images/cuts/100ppi_22.png" />
                </div>
                <div id='rank_cont'>
                    <div class='bayesopt cols'>
                        <div class='col2'>
                            <p class='hide_first_round'>New Image</p>
                            <img id='bayes_img_1' class='bayes_img' src='/static/images/university.png' alt='Image example 1'/>
                            <button id='choice_butt_1' class='choice_butt'>This Image Is Better</button>
                        </div>
                        <div class='col2'>
                            <p class='hide_first_round'>Best Predicted</p>
                            <img id='bayes_img_2' class='bayes_img' src='/static/images/university.png' alt='Image example 2'/>
                            <button id='choice_butt_2' class='choice_butt'>This Image Is Better</button>
                        </div>
                    </div>
                    <div class='simplex'>
                        <h2>Sort images by how closely they resemble the goal image.</h2>
                        <div id='rank_panel'>
                            <div class='ref_label'>
                                <p>Best</p>
                            </div>
                            <div id='rank_bar'></div>
                            <div class='ref_label'>
                                <p>Worst</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='upload_ranking_cont' class='simplex'>
                    <button id='upload_ranking_butt'>I Have Sorted the Images</button>
                </div>
                <div id='abort_cont'>
                    <button id='abort_butt'>Images Aren't Getting Any Better</button>
                </div>
            </div>
        </div>
    </body>
</html>
