{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>Simplex Optimization</title>
        <link rel='stylesheet' href="{% static "simplex/css/main.css" %}" />
    </head>
    <body>
        <div id='main_cont'>
            <h1>Get Here</h1>
            <div id='exemplar_cont'></div>
            <div id='rank_cont'>
                <p>Ranking</p>
                <div id='rank_panel'></div>
            </div>
            <button id='upload_ranking_butt'></button>
        </div>
        <script src="{% static "simplex/js/d3.js" %}"></script>
        <script src="{% static "simplex/js/ui.js" %}"></script>
    </body>
</html>
