{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>Simplex Optimization</title>
        <link rel='stylesheet' href="{% static "simplex/css/main.css" %}" />
    </head>
    <body>
        <div id='main_cont'>
            <h1 id='main_header'>Get Here</h1>
            <div id='exemplar_cont'></div>
            <div id='rank_cont'>
                <h3>Arrange by rank</h3>
                <div id='rank_panel'>
                    <div class='ref_label'>
                        <p>Best</p>
                    </div>
                    <div id='rank_bar'></div>
                    <div class='ref_label'>
                        <p>Worst</p>
                    </div>
                </div>
            </div>
            <button id='upload_ranking_butt'></button>
        </div>
        <script src="{% static "simplex/js/d3.js" %}"></script>
        <script src="{% static "simplex/js/ui.js" %}"></script>
    </body>
</html>
