{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Refresh" content="1" />
        <title>Job Queue | FabExample</title>
        <link rel='stylesheet' href="{% static "simplex/css/main.css" %}" />
    </head>
    <body>
        <div id='table_cont'>
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Point</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in jobs %}
                    <tr>
                        <td>{{ j.timestamp }}</td>
                        <td>{{ j.type }}</td>
                        <td>{{ j.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
